.nav-container {
    background-color: rgb(224, 224, 224);
    width: 100%;
    display: flex;
    align-items: center;
  }

  .nav-ul{
    display: flex;
    justify-content: center;
  }

  .brand{
    font-size: 22px;
  }

  .li{
    font-size: 14px;
  }

  .li, .brand{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    list-style-type: none;
    text-decoration: none;
    margin: 0px 10px;
  }

  #basic-button{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
